body{
    background-color:#2e76fa;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    margin: 0;
    
}

.header{
    background-image: url("img/imgback.jpg");
    background-repeat: no-repeat;
    height: 600px; 
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    
}

.logo{
    width: 15%;
    margin: 0 auto;
    display: block;
}

h1{
    color:#080C59;
    text-align: left;
    display: block;
    margin: 3%;
    font-size: 220%;
    margin-top:0;
}

.chamativo{
    color: #1455D9;
}

.txtchamativo{
    color: #1455D9;
    font-size: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.textHeader{
    margin:8%;
    font-size:large;
    color:#060c7e;
}

.typed-text {
    font-size: 24px;
    border-right: 2px solid black;
    text-align: center;
    margin:0 auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(30, end) infinite, blink 0.75s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 49%;
    }
    100% {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.aguaCaindo{
    margin-left: -6%;
    width: 30%;   
}

.slider-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    right: -10%;
}

.slider {
    display: flex;
    flex-direction: column;
    animation: slide 5s infinite ease-in-out;
}

.slider img {
    width: 100%;
    height: auto;
    
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0);
    }
} 

h2{
    text-align: center;
    margin:2%;  
    color: #0528F2;
}

.BemVindo{
    color: aliceblue;
}

.BemVindoTxt {
    color: aliceblue;
    font-size: 300%;
}

.offerh2{
    color: aliceblue;
    font-size: 300%;
}

.text, .offer{
    color: aliceblue;
    margin:8%;
    font-size: 140%;
}

.porque{
    background-color:aliceblue;
}

.PorqueTxt{
    color: #0528F2;
    font-size: 300%;
}

.now{
    font-size: 130%;
    color: #0528F2;
}

ul{
    margin: 8%;
}

li{
    margin-top: 5%;
    color: #060c7e;
    font-size: 140%;
}

.urgency{
    color: white;
    margin: 8%;
    font-size: 140%;
}

.cta-button{
    text-decoration: none;
    color: aliceblue;
    background-color: green;
    text-align: center;
    padding: 10px 20px;
    border-radius: 25px; 
    display: inline-block; 
    margin: 0 auto;
    margin-bottom: 3%;
    animation: pulse 1.5s infinite; 
    transition: transform 0.2s ease-in-out;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1);
    }
}