body{
    background-color:#1e3fff;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    margin: 0;
}

.header{
    background-image: url("img/23105921-suave-borrado-branco-tecido-textura-fundo-vetor.jpg");
    background-repeat: no-repeat;
    height: 700px; 
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

h1{
    color:#080C59;
    text-align: center;
    margin: 3%;
    font-size: 220%
}


.chamativo{
    color: #1455D9;
}

.txtchamativo{
    color: #1455D9;
    font-size: 160%;
}

h2{
    text-align: center;
    margin:2%;
    color: #0528F2;
}

